* {
    margin: 0;
    padding: 0;
    font-family: "Racing Sans One", sans-serif;
    box-sizing: border-box;
}

h1 {
    font-family: "Oxanium", sans-serif;
    font-weight: 300;
    font-size: 140px;
    color: rgb(250, 59, 59);
    text-align: right;
}

h2 {
    line-height: 1;
    font-size: 80px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

h3 {
    font-family: "Oxanium", sans-serif;
    font-weight: 300;
    font-size: 80px;
    color: rgb(250, 59, 59);
}

h4 {
    font-size: 50px;
    line-height: 0.8;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    user-select: none;
}

h5 {
    font-size: 20px;
}

body {
    background: #333;
    color: #edf2f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    background: #005f73;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
    width: 90vw;
    border: 2px solid white;
    border-radius: 10px;
}

.top-half {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 0;
    margin-top: 0;
}

.bottom-half {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    margin-bottom: auto;
}

.team {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    margin-top: 100px;
}

.timer-period {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-points {
    display: flex;
    gap: 20px;
}

.add-points-el {
    font-size: 40px;
    color: #fff;
    background: #023047;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.score {
    background: #0C0D0E;
    width: 245px;
    height: 160px;
    margin: 10px 0 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

.timer {
    margin-top: 30px;
    width: 470px;
    height: 210px;
    border: 1px solid black;
    background: #0C0D0E;
    border-radius: 5px;
}

#timer-el {
    font-family: "Oxanium", sans-serif;
    font-weight: 300;
    font-size: 180px;
    color: rgb(250, 59, 59);
}

#new-game {
    margin: 60px 0 50px;
    padding: 12px 24px;
    background: rgb(252, 40, 40);
    color: #fff;
    cursor: pointer;
}

#period-counter {
    width: 50px;
    height: 100px;
    background: #0C0D0E;  
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
}

#period-el {
    font-family: "Oxanium", sans-serif;
    font-weight: 300;
    color: rgb(250, 59, 59);
}

.bottom-half-counter-el {
    width: 50px;
    height: 100px;
    margin: 10px 0;
    border: 1px solid #000;
    background: #0C0D0E;
    border-radius: 5px;
}

.bottom-half-el {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.half-buttons {
    background: #023047;
    color: inherit;
    padding: 10px 10px;
    cursor: pointer;
}

#new-game:hover {
    background: rgb(228, 0, 0);
    transition: background 0.3s ease;
}

#new-game:active:hover {
    background: rgb(206, 0, 0);
    transition: background 0.3ms linear;
}

.add-points-el:hover {
    background: #ffb703;
    color: #edf2f4;
    transition: background 0.3s ease;
}

.add-points-el:active {
    background: #fb8500;
    color: #edf2f4;
    transition: background 0.3ms linear;
}

.half-buttons:hover {
    background: #ffb701;
    color: #edf2f4;
    transition: background 0.3s ease;
}

.half-buttons:active {
    background: #fb8500;
    color: #edf2f4;
    transition: background 0.3ms linear;
}